{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.testcontainers/testcontainers {:mvn/version "1.14.3"}}

 :aliases {:dev {:extra-paths "dev-src"}
           :test {:extra-paths ["test" "test/resources"]
                  :extra-deps  {expound/expound {:mvn/version "0.8.5"}
                                lambdaisland/kaocha {:mvn/version "1.0.700"}
                                lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                org.clojure/test.check {:mvn/version "1.1.0"}
                                org.testcontainers/postgresql {:mvn/version "1.14.3"}}}

           :test-runner {:extra-paths ["test" "test/resources"]
                         :extra-deps  {expound/expound {:mvn/version "0.8.5"}
                                       lambdaisland/kaocha {:mvn/version "1.0.700"}
                                       lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}
                                       lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                       org.clojure/test.check {:mvn/version "1.1.0"}
                                       org.testcontainers/postgresql {:mvn/version "1.14.3"}}
                         :main-opts ["-m" "kaocha.runner" "--reporter" "kaocha.report/documentation"]}

           :cljstyle {:extra-deps {mvxcvi/cljstyle {:mvn/version "0.13.0"
                                                    :exclusions [org.clojure/clojure]}}
                      :main-opts ["-m" "cljstyle.main" "check"]}}}
